<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link type="text/css" rel="stylesheet" href="assets/css/calendar.css" />
<div>
      <uib-tabset active="active">
        <uib-tab heading="Sun">
          <table width="400">

            <tr>
              <td><span>8:00am</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>8:30am</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>9:00am</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>9:30am</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>10:00am</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>10:30am</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>11:00am</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>11:30am</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>12:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>12:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>1:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>1:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>2:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>2:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>3:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>3:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>4:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>4:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>5:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>5:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>6:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>6:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>7:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>7:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>8:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>8:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>9:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>9:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>10:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>10:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>11:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>11:30pm</span></td>
              <td><td>
            </tr>
          </table>

        </uib-tab>
        <uib-tab heading="Mon">
          <table width="400">

            <tr>
              <td><span>8:00am</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>8:30am</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>9:00am</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>9:30am</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>10:00am</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>10:30am</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>11:00am</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>11:30am</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>12:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>12:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>1:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>1:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>2:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>2:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>3:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>3:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>4:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>4:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>5:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>5:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>6:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>6:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>7:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>7:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>8:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>8:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>9:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>9:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>10:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>10:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>11:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>11:30pm</span></td>
              <td><td>
            </tr>
          </table>
        </uib-tab>
        <uib-tab heading="Tues">
          <table width="400">

            <tr>
              <td><span>8:00am</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>8:30am</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>9:00am</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>9:30am</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>10:00am</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>10:30am</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>11:00am</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>11:30am</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>12:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>12:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>1:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>1:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>2:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>2:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>3:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>3:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>4:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>4:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>5:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>5:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>6:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>6:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>7:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>7:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>8:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>8:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>9:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>9:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>10:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>10:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>11:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>11:30pm</span></td>
              <td><td>
            </tr>
          </table>
        </uib-tab>
        <uib-tab heading="Wed">
          <table width="400">

            <tr>
              <td><span>8:00am</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>8:30am</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>9:00am</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>9:30am</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>10:00am</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>10:30am</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>11:00am</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>11:30am</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>12:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>12:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>1:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>1:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>2:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>2:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>3:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>3:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>4:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>4:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>5:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>5:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>6:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>6:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>7:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>7:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>8:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>8:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>9:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>9:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>10:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>10:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>11:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>11:30pm</span></td>
              <td><td>
            </tr>
          </table>
        </uib-tab>
        <uib-tab heading="Thu">
          <table width="400">

            <tr>
              <td><span>8:00am</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>8:30am</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>9:00am</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>9:30am</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>10:00am</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>10:30am</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>11:00am</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>11:30am</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>12:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>12:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>1:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>1:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>2:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>2:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>3:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>3:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>4:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>4:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>5:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>5:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>6:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>6:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>7:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>7:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>8:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>8:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>9:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>9:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>10:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>10:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>11:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>11:30pm</span></td>
              <td><td>
            </tr>
          </table>
        </uib-tab>
        <uib-tab heading="Fri">
          <table width="400">

            <tr>
              <td><span>8:00am</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>8:30am</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>9:00am</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>9:30am</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>10:00am</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>10:30am</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>11:00am</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>11:30am</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>12:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>12:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>1:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>1:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>2:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>2:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>3:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>3:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>4:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>4:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>5:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>5:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>6:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>6:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>7:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>7:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>8:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>8:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>9:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>9:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>10:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>10:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>11:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>11:30pm</span></td>
              <td><td>
            </tr>
          </table>
        </uib-tab>
        <uib-tab heading="Sat">
          <table width="400">

            <tr>
              <td><span>8:00am</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>8:30am</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>9:00am</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>9:30am</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>10:00am</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>10:30am</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>11:00am</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>11:30am</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>12:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>12:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>1:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>1:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>2:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>2:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>3:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>3:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>4:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>4:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>5:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>5:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>6:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>6:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>7:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>7:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>8:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>8:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>9:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>9:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>10:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>10:30pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>11:00pm</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>11:30pm</span></td>
              <td><td>
            </tr>
          </table>
        </uib-tab>
      </uib-tabset>
</div>
