<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<div>
      <uib-tabset active="active">
        <uib-tab heading="Sun">
          <table>

            <tr>
              <td><span>8:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>9:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>10:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>11:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>12:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>1:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>2:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>3:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>4:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>5:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>6:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>7:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>8:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>9:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>10:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>11:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>12:00</span></td>
              <td><td>
            </tr>
          </table>

        </uib-tab>
        <uib-tab heading="Mon">
          <table>

            <tr>
              <td><span>8:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>9:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>10:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>11:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>12:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>1:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>2:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>3:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>4:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>5:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>6:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>7:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>8:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>9:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>10:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>11:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>12:00</span></td>
              <td><td>
            </tr>
          </table>
        </uib-tab>
        <uib-tab heading="Tues">
          <table>

            <tr>
              <td><span>8:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>9:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>10:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>11:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>12:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>1:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>2:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>3:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>4:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>5:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>6:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>7:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>8:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>9:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>10:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>11:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>12:00</span></td>
              <td><td>
            </tr>
          </table>
        </uib-tab>
        <uib-tab heading="Wed">
          <table>

            <tr>
              <td><span>8:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>9:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>10:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>11:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>12:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>1:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>2:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>3:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>4:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>5:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>6:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>7:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>8:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>9:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>10:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>11:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>12:00</span></td>
              <td><td>
            </tr>
          </table>
        </uib-tab>
        <uib-tab heading="Thu">
          <table>

            <tr>
              <td><span>8:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>9:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>10:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>11:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>12:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>1:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>2:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>3:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>4:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>5:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>6:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>7:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>8:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>9:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>10:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>11:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>12:00</span></td>
              <td><td>
            </tr>
          </table>
        </uib-tab>
        <uib-tab heading="Fri">
          <table>

            <tr>
              <td><span>8:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>9:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>10:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>11:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>12:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>1:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>2:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>3:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>4:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>5:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>6:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>7:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>8:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>9:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>10:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>11:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>12:00</span></td>
              <td><td>
            </tr>
          </table>
        </uib-tab>
        <uib-tab heading="Sat">
          <table>

            <tr>
              <td><span>8:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>9:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>10:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>11:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>12:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>1:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>2:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>3:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>4:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>5:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>6:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>7:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>8:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>9:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>10:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>11:00</span></td>
              <td><td>
            </tr>
            <tr>
              <td><span>12:00</span></td>
              <td><td>
            </tr>
          </table>
        </uib-tab>
      </uib-tabset>
</div>
