<link rel="stylesheet" href="assets/css/signinStyle.css" />

<h1 class="title">When We Work</h1>

<div class="login-page">
    <div class="form">
        <form ng-submit="login()" class="login-form">
            <input ng-model="user.email" type="text" placeholder="email" />
            <input ng-model="user.password" type="password" placeholder="password" />
            <button type="submit">login</button>
            <p class="message">Not registered? <a href="#/signup">Create an account</a></p>
        </form>

    </div>
</div>
